---
---

<script>
// Get API key from server side .ENV file
const APIKEY = import.meta.env.PUBLIC_WEATHER_API;

// API endpoint URL
const queryEndpoint = 'https://api.openweathermap.org/data/2.5/weather';
// City
const queryCity = 'Cheney';
// Units for Farenheit
const queryUnits = 'imperial';

// URL query string
const url = `${queryEndpoint}?q=${queryCity}&appid=${APIKEY}&units=${queryUnits}`;

// Get DOM Elements
const city = document.querySelector('.city');
const temp = document.querySelector('.temp');
const wind_speed = document.querySelector('.wind_speed');
const feels_like = document.querySelector('.feels_like');
const icon = document.querySelector('.icon');

// Using fetch to get data
fetch(url)
.then( response => response.json() )
.then( data => {

  // Check-check: Is data good? 
  console.log( data );
  
  // Get Container for Weather   
  const weatherContainer = document.querySelector('.weather');
    
    // Set DOM Elements
    city.textContent = data.name; 
    temp.textContent = `${data.main.temp}° F`;
    feels_like.textContent = `Feels like ${data.main.feels_like}° F`;
    wind_speed.textContent = `${data.wind.speed} mph wind`;

    icon.setAttribute('src', `http://openweathermap.org/img/wn/${data.weather[0].icon}@2x.png`)
  
});
</script>


  <!-- HTML -->
  <section class="weather bg-blue-300 w-1/2 hover:w-full rounded-2xl hover:bg-blue-200">
    <div class="flex justify-center">
      <img class="icon w-13" 
        src="https://via.placeholder.com/150" alt="Placeholder">
    </div>
    
    <time class="font-bold text-lg text-white font-serif text-center">
      <div class="mt-1">
        <data class="city">City</data>
        <data class="temp">Temp</data>
      </div>
      <div class="mt-1">
        <data class="feels_like">Feels Like</data>
      </div>
      <div class="mt-1">
        <data class="wind_speed">Wind Speed</data>
      </div>
    </time>
  </section>
